.app {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: .1em;
}

.side-nav {
    border: 1px solid red;
    height: 93vh;
}

.content {
    border: 1px solid blue;
    height: 93vh;
}