html {
    /* background: linear-gradient(to bottom left, purple, gray); */
    background-color: gray; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: "Roboto"
}

#form-container h2 {
	text-transform: uppercase;
	color: black;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.7em;
	line-height: 2.8em;
}

#form-container {
	background-color: white;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

#form-container label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

#form-container input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

#form-container input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

#form-container button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: dodgerblue;
	cursor:pointer;
	outline: none;
}

#form-container button:hover {
	opacity: 0.7;
	transition: 0.5s;
}