html {
    /* background: linear-gradient(to bottom left, purple, gray); */
    background-color: gray; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: "Roboto"
}

#form-container h2 {
	text-transform: uppercase;
	color: black;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.7em;
    line-height: 2.8em;
    margin-bottom: .3em;
}

#form-container {
	background-color: white;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
    width: 40%;
}

#form-container label {
	font-weight: 700;
	font-size: 1.5em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

#form-container input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 1em;
	color: #888;
}

#form-container input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

#form-container button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: dodgerblue;
	cursor:pointer;
	outline: none;
}

#form-container button:hover {
	opacity: 0.7;
	transition: 0.5s;
}


/* phones */
@media(max-width: 416px) and (orientation: portrait) {


    #form-container {
        width: 70%;
        top: 80px;
    } 
    
    #form-container input {
        border-radius: 6px;
        font-size: 1em;
    }

    #form-container label {
        font-size: .9em;
    }

    #form-container button {
        margin-top: 1em;
        font-size: .9em;
    }

    #form-container h2 {
        font-size: 1.7em;
    }

}


/* Tablets */
@media(max-width: 768px) and (min-width: 417px) {
    #form-container {
        width: 90%;
        top: 120px;
    } 
    
    #form-container input {
        border-radius: 6px;
        font-size: 2em;
    }

    #form-container label {
        font-size: 1.9em;
    }

    #form-container button {
        margin-top: 1em;
        font-size: 1.9em;
    }

    #form-container h2 {
        font-size: 2.7em;
    }

}

/* Big Tablets */
@media(max-width: 1024px) and (min-width: 769px) and (orientation: portrait) {

    #form-container {
        width: 90%;
        top: 160px;
    } 
    
    #form-container input {
        border-radius: 6px;
        font-size: 3em;
    }

    #form-container label {
        font-size: 2.9em;
    }

    #form-container button {
        margin-top: 2em;
        font-size: 2.9em;
    }

    #form-container h2 {
        font-size: 3.7em;
    }
}


